# Description

This notebook analyze and vizualize precipitation data

In [3]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_2919ce502c844e3d902c3b1545c18df3 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/xxxx/xxxxx",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.xx-xxx.xxxxxxxxxxxx.service.networklayer.com')

body = client_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.get_object(Bucket='practiceproject-donotdelete-pr-xxxxxxxxxx',Key='PRECIP_15_sample_csv.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )
df_data_1 = pd.read_csv(body)
df_data_1.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,QPCP,Measurement Flag,Quality Flag,Units
0,COOP:311564,CATALOOCHEE NC US,798.9,35.61667,-83.1,19840101 00:15,0,g,,HI
1,COOP:311564,CATALOOCHEE NC US,798.9,35.61667,-83.1,19840104 22:45,1,,,HI
2,COOP:311564,CATALOOCHEE NC US,798.9,35.61667,-83.1,19840105 00:30,1,,,HI
3,COOP:311564,CATALOOCHEE NC US,798.9,35.61667,-83.1,19840105 01:30,1,,,HI
4,COOP:311564,CATALOOCHEE NC US,798.9,35.61667,-83.1,19840105 02:15,1,,,HI